/*
  Color pallet
  pink :  #d96459
  yellow : #f2e394
  sand  : #f2ae72
  blue  :  #588c7e
*/

*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-family: sans-serif;
  box-sizing: border-box;
}
body{
  background-color: #f2e394;
}

/* ----------- Menu --------------*/
ul{
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #588c7e;
  text-align: center;
  z-index: 1;
}
li{
  display: inline-block;
  float: left;
}
#samll-menu{
  display: none;
}
#menu{
  display: none;
}
.button{
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  display: block;
  width: 100px;
  height: 60px;
  padding: 20px 8px;
}
.button:hover{
  background-color: #f2ae72;
  color:  #d96459;
}

/*----------- Main Area------------*/
.container{
  width: 100%;
  display: block;
  padding-top: 60px;
}

/*----------- Landing Page ------------*/
.center{
      position: fixed;;
    color: #d96459;
    left: 0;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 180px;
    font-weight: bold;
    background-image: url(../img/background-traveler.jpg);
    background-size: cover;
    display: block;
}

/*----------- Form ------------*/
input, textarea{
  display: block;
  width: 100%;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  margin: 10px;
  padding: 5px;
}
input:focus , textarea:focus{
  background-color: #f7f7f7;
}
form{
  width: 50%;
  margin: auto;
}
input[type=submit]{
  width: 50%;
  margin: auto;
  background-color: #d96459;
}
input[type=submit]:hover{
  background-color: #588c7e;
}
textarea{
  height: 300px;
}
textarea:focus{
  content: "";
}

/*----------- Text ------------*/
p, h1{
  margin: auto;
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 19px;
}
h1{
  font-size: 30px;
  font-weight: bold;
  display: block;
  padding: 30px;
}
.right{
  font-weight: normal;
  text-align: right;
  font-style: italic;
}

/*----------- Color page ------------*/
#master{
  height: 300px;
}
.color{
  width: 50%;
  height: 50%;
  float: left;
}

#pink{
  background-color: #d96459;
}
#yellow{
  background-color: #f2e394;
}
#sand{
  background-color: #f2ae72;
}
#blue{
  background-color: #588c7e;
}

/*----------- Gallery ------------*/
img{
  width: 100%;

}
.rwd{
  background-size: cover;
  width: 25%;
  padding-top: 15%;
  float: left;

}
.rwd:hover{
  opacity: 0.82;

}
#gall_1{
    background-image: url('../gallery/meteoryt/meteoryt (1).jpg');
}
#gall_2{
    background-image: url('../gallery/meteoryt/meteoryt (2).jpg');
}
#gall_3{
    background-image: url('../gallery/meteoryt/meteoryt (3).jpg');
}
#gall_4{
    background-image: url('../gallery/meteoryt/meteoryt (4).jpg');
}
#gall_5{
    background-image: url('../gallery/meteoryt/meteoryt (5).jpg');
}
#gall_6{
    background-image: url('../gallery/meteoryt/meteoryt (6).jpg');
}
#gall_7{
    background-image: url('../gallery/meteoryt/meteoryt (7).jpg');
}
#gall_8{
    background-image: url('../gallery/meteoryt/meteoryt (8).jpg');
}
#gall_9{
    background-image: url('../gallery/meteoryt/meteoryt (9).jpg');
}
#gall_10{
    background-image: url('../gallery/meteoryt/meteoryt (10).jpg');
}
#gall_11{
    background-image: url('../gallery/meteoryt/meteoryt (11).jpg');
}
#gall_12{
    background-image: url('../gallery/meteoryt/meteoryt (12).jpg');
}

/*----------- Responsive ------------*/
@media only screen and (max-width:900px){
  .center{
      font-size: 140px;
  }
}
@media only screen and (max-width:700px){
  .center{
      font-size: 120px;
  }
}

@media only screen and ( orientation : portrait){
  form{
    width: 90%;
    height: auto;
  }
  .rwd{
    width: 50%;
    padding-top: 30%;
  }
  .container{
    padding-top: 0px;
  }
  #samll-menu{
    text-align: center;
    padding-top: 40px;
    display: block;
    height: 120px;
    width: 100%;
    z-index: 1;
  }

  #samll-menu:hover .menu{
    display: block;
  }
  .menu{
    height: 400px;
    margin-left: -8px;
    margin-top: 55px;
    width: 100%;
    float: left;

  }
  .button{
    height: 80px;
    width: 100%;
    text-align: center;
  }
  li{
    display: block;
    width: 100%;
  }
  header{
    height: 120px;
    background-color: #588c7e;
  }
  ul{
    display: none;
  }

  .center{
      font-size: 90px;
      background-position: -200px -200px;
      background-repeat: no-repeat;
      height: 120%;
  }
}
@media only screen and (max-width:400px){
  .rwd{
    width: 100%;
    padding-top: 60%;
  }
  .center{
      font-size: 90px;

  }
}
